@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500i,600,700,800&display=swap');

/* reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Variables  */

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --blue-dark: hsl(234, 12%, 34%);
    --blue-gravish: hsl(229, 6%, 66%);
    --gray-light: hsl(0, 0%, 98%);

    --Blue-shadow: rgba(131, 166, 210, 35%);
    --Blue-shadow-hover: rgba(131, 166, 210, 30%);
}


html {
    font-size: 10px;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--gray-light);
    color: var(--blue-dark);
}

footer {
   margin-top: 10rem;
   font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* Mobile Styles*/

.container { 
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 0 3rem;
}

.intro {
    text-align: center;
}
.intro h1 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 3.5rem;
}
.intro h1.strong {
    font-weight: 600;
}
.intro p {
    font-size: 1.6rem;
    color: var(--blue-gravish);
    margin-top: 2rem;
}

.card-section {
    margin-top: 7rem;
}

.card {
    max-width: 35rem;
    background-color: #fff;
    padding: 3rem;
    margin: 2.5rem auto;
    border-radius: 8px;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 15px 20px var(--Blue-shadow);
    transition: all 0.2s ease;
}
.card:hover {
    transform: translate(0px, -3px);
    box-shadow: 0px 17px 30px var(--Blue-shadow-hover);
  }
  .card:nth-child(1) {
      border-top: 5px solid var(--cyan);
  }
  .card:nth-child(2) {
    border-top: 5px solid var(--red);
}
.card:nth-child(3) {
    border-top: 5px solid var(--orange);
}
.card:nth-child(4) {
    border-top: 5px solid var(--blue);
}

.card-text h3 {
    font-size: 2rem;
    margin-bottom: 6px;
    font-weight: 600;
}

.card-text p {
    font-size: 1.3rem;
    line-height: 1.8;
    color: var(--blue-gravish);
    letter-spacing: .7px;
}

.card-img {
    display: flex;
    justify-content: flex-end;
}
.card-img img {
    width: 55px;
    margin-top: 3rem;
}

/*  desktop styles*/
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .intro h1 {
        font-size: 3.5rem;
    }
    .intro p{
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.8rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
    }
    .card-cyan {
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .card-red {
        grid-column: 2/3;
        grid-row: 1/3;
    }
       
    .card-orange {
        grid-column: 2/3;
        grid-row: 3/5;
    }
    .card-blue {
        grid-column: 3/4;
        grid-row: 2/4;
    }
    .card {
        margin: 0.1rem;
    }
    .card-text h3 {
        font-size: 2.5rem
    }
    .card-text p {
        font-size: 1.5rem;
    }
}




